<div class="header row" >
<div class="col-6 title">
    <h3 class="float-md-start mb-2">
        <i class="fa-regular fa-newspaper" style="color: #ea210b;">&nbsp;</i> News  Portal
    </h3>
</div>
<div class="col-6 float-md-end">
    <nav class="nav nav-tab">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fa-regular fa-house" style="color:white">&nbsp;Home</i>
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fa-solid fa-phone" style="color:white">&nbsp;Contact</i>  
            </a>
        </li>
    </nav>
</div>
</div>